<div class="col-md-12">
	<table class="table table-striped table-hover">
          			<thead>
	            		<tr class="info">
	              			<th class="col-md-2">Request ID</th>
	              			<th class="col-md-4">Description</th>
	              			<th class="col-md-2">Date Created</th>
	              			<th class="col-md-2">Last Updated</th>
	              			<th class="col-md-2">Status</th>
	            		</tr>
          			</thead>
          			<tbody>
          			
        				<tr ng-class="processRequest.status == 'Completed' ? 'success'  :(processRequest.status == 'Failed' ? 'danger' : 'warning' )" 
        					ng-repeat="processRequest in processRequestList">
	              				<td class="col-md-2">{{processRequest.id}}</td>
	              				<td class="col-md-4">{{processRequest.requestTitle}}</td>
	              				<td class="col-md-2">{{processRequest.createdOn | date:'dd/MM/yyyy HH:mm:ss'}}</td>
	              				<td class="col-md-2">{{processRequest.updatedOn | date:'dd/MM/yyyy HH:mm:ss'}}</td>
	              				<td class="col-md-2">{{processRequest.status}}</td>
            			</tr>
        			</tbody>
        	</table>
	
	<div class="row">
		<ul class="pager">
		  <li class="previous" ng-if="postsPagination.hasPrevPage">
		  	<a href="javascript:void(0);" ng-click="loadProcessRequest(postsPagination.currentPage-1)">&larr; Newer</a>
		  </li>
		  <li class="next" ng-if="postsPagination.hasNextPage">
		  	<a href="javascript:void(0);"
				ng-click="loadProcessRequest(postsPagination.currentPage+1)">
					Older &rarr;</a>
			</li>
		</ul>
	</div>
</div>